body {
  background-color: rgb(83, 167, 55);
}

.container-fluid {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.card {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  background-color: white;
  background-image: url("https://www.publicdomainpictures.net/pictures/380000/velka/pergament-papier-alt-vintage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-header {
  font-size: 120px;
  display: flex;
  padding-left: 20px;
}

.card-center {
  display: flex;
  justify-content: center;
  font-family: "Abril Fatface";
  font-size: 250px;
  padding-top: 20px;
}

.card-footer {
  display: flex;
  transform: rotate(180deg);
  font-size: 120px;
  padding-left: 20px;
  padding-bottom: 20px;
}
